.hide {
    display: none  !important;
}
body {
    background-color: #eee;
    margin: 16px 0px;
    text-align: center;
    font-family: sans-serif;
}
.main>div:first-child {
    height:100px;
    background-color: orange;
    width: 100%;
}
.card {
    display: inline-block;
    background-color: white;
    width:300px;
    position: relative;
    bottom:48px;
    padding:16px;
    padding-bottom: 24px;
}
.card>h1 {
    font-size: xx-large;
    opacity: 75%;
}
.card p {
    text-align: left;
    opacity : 75%;
    line-height: 16px;
    margin-bottom: 32px;
}
button {
    background-color: orange;
    color:white;
    border: none;
    outline: none;
    padding:8px;
    border-radius: 4px;
    cursor: pointer;
}
.show-form:hover {
    background-color: darkorange;
}
h2 {
    opacity:75%;
}
span {
    margin-left: 10px;
    
}
h2:last-of-type {
    margin-bottom: 26px;
}
.footer {
    opacity:50%;
}
label {
   font-weight: 700;
   opacity:75%;
   display: inline-block;
   width: 64px;
   text-align: left;
}
input:last-of-type {
    margin-top: 10px;
    margin-bottom: 24px;
}